{% extends 'base.html' %}

{% block content %}
	<table>
		<tr valign="top">
			<td><img src={{ url_for('static', filename='avatars/'+ user.id.__str__() +'.jpg') }} alt={{ user.nickname }} width="120" /></td>
			<td>
				<h1> User: {{ user.nickname }}</h1>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.last_seen %}<p><i>Last seen on: {{ momentjs(user.last_seen).calendar() }}</i></p>{% endif %}
				<p>{{ user.followers.count() }} followers | 
				{% if user.id == current_user.id %}
					<a href="{{ url_for('edit') }}">Edit</a>
				{% elif not current_user.is_following(user) %}
					<a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
				{% else %}
					<a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a> 
				{% endif %}
				<p>
			</td>
		</tr>
	</table>
	<hr>
	{% for post in posts.items %}
		{% include 'post.html' %}
	{% endfor %}

	{% if posts.has_prev %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">&lt;&lt;Prev Page</a>
	{% else %} &lt;&lt; Prev Page {% endif %}
	
	{% if posts.has_next %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Next Page &gt;&gt;</a>
	{% else %} Next Page &gt;&gt; {% endif %}
	
{% endblock %}